# Основни пакети за работа со податоци
pandas>=2.0
numpy>=1.25
matplotlib>=3.8
seaborn>=0.12
missingno>=0.5

# Статистика и аномалии
scipy>=1.11
statsmodels>=1.3

# Машинско учење и модели
scikit-learn>=1.3
xgboost>=1.7

# Neural networks / Deep learning
tensorflow>=2.13

# Временски серии и Clustering
tslearn>=0.6.2
